@dark-primary   : #141413;
@dark-secondary : #2D2D2C;
@dark-tertiary  : #474743;
@mute           : #96968D;
@light-tertiary : #c9c9bf;
@light-secondary: #e2e2d7;
@light-primary  : #fcfcef;

@lime           : #06e2b5;
@blue           : #1d9caf;
@light-blue     : #37c9df;
@purple         : #a1588a;
@green          : #5c963c;
@red            : #cc2f2f;
@dark-red       : #a40000;
@yellow         : #ffe77c;
@light-orange   : #ffb135;
@orange         : #dd9218;