@dark-primary   : #22211b;
@dark-secondary : #39372d;
@dark-tertiary  : #4f4c40;
@mute           : #666252;
@light-tertiary : #a4a08e;
@light-secondary: #b6b3a4;
@light-primary  : #c9c6bb;


@blue           : #589daa;
@blue-dark      : #00638f;
@blue-light     : #1eb1f0;
@cyan           : #00dbdb;
@green          : #76a752;
@lime           : #8bfb8a;
@orange         : #dd9218;
@orange-light   : #ffbe54;
@yellow         : #ffe677;
@purple         : #b35b7f;
@violet         : #8359ab;
@red            : #cc2f2f;
@red-dark       : #990000;
