// Editor Styles
atom-text-editor, :host {
  
  // General
  background-color: @color-background;
  color: @color-text;

  // Gutter
  .gutter {
    background-color: @color-gutter-background;
    color: @color-gutter-text;
    min-width: 0;

    .line-number {
      &.cursor-line {
        background-color: @color-gutter-background-line-number;
        color: @color-gutter-background-selected;
      }

      &.cursor-line-no-selection {
        color: @color-gutter-text-selected;
      }
      
      &.folded,
      &:after,
      .fold-marker:after {
        color: @color-gutter-text-folded;
      }
    }
  }

  // Invisibles
  
  // Lines 
  .line-number {
    &.cursor-line {
        background-color: @color-gutter-background-line-number-blurred;
        }
    }
    
    
  
  // Cursor & Selection
  
  // Focus & Blur
  
  .wrap-guide {
    background-color: @color-wrap-guide;
  }

  .indent-guide {
    color: @color-indent-guide;
  }

  .invisible-character {
    color: @color-invisible-character;
  }

  
  .invisible {
    color: @color-text;
  }

  .cursor {
    color: @color-cursor;
  }

  .cursor-line {
    background-color: @color-cursor-line;
  }
  
  .selection .region {
    background-color: @color-selection-blurred;
  }
  
  &.is-focused {
      .selection .region {
          background-color: @color-selection-focused;
      }
  }
}

atom-text-editor::shadow .highlight.find-result .region {
  background-color: @color-result-marker;
  border: 1px solid @light-tertiary;
  z-index: -1;
}

atom-text-editor::shadow .highlight.current-result .region,
atom-text-editor::shadow .highlight.current-result ~ .highlight.selection .region {
    background-color: @color-result-marker-selected;
    border: 1px solid @mute;
    z-index: -1;
}

// atom-text-editor[mini] .scroll-view,
// :host([mini]) .scroll-view {
//   padding-left: 1px;
// }