@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@color-text: @dark-primary;
@color-cursor: @dark-secondary;
@color-selection: @light-secondary;
@color-background: @light-primary;

// Guide colors
@color-wrap-guide: @light-tertiary;
@color-indent-guide: @light-tertiary;
@color-invisible-character: @light-tertiary;

// For find and replace markers
@color-result-marker: @yellow;
@color-result-marker-selected: @yellow;

// Gutter colors
@color-gutter-text: @dark-tertiary;
@color-gutter-text-selected: @dark-secondary;
@color-gutter-text-folded: @light-tertiary;
@color-gutter-background: @light-primary;
@color-gutter-background-selected: @light-primary;
@color-gutter-background-line-number: darken(@color-selection, 5%);

// Line colors
@color-cursor-line: @color-background;

// For git diff info. i.e. in the gutter
@color-renamed : @blue;
@color-added   : @green;
@color-modified: @orange;
@color-removed : @red;

// Language entity colors
@color-attribute     : @orange;
@color-class         : @orange;
@color-comment       : @light-tertiary;
@color-constant      : @orange;
@color-control       : @purple;
@color-function      : @blue;
@color-import        : @red;
@color-keyword       : @red;
@color-keyword-new   : @blue-dark;
@color-method        : @blue;
@color-number        : @green;
@color-operator      : @color-text;
@color-property      : @color-text;
@color-regexp        : @orange;
@color-snippet       : @green;
@color-string        : @green;
@color-string-quote  : @dark-tertiary;
@color-symbol        : @green;
@color-tag-bracket   : @mute;
@color-tag           : @blue;
@color-value         : @green;
@color-variable-param: @color-text;
@color-variable      : @purple;

// JSON colors
@color-json-dictionary-key: @blue-dark;
@color-json-dictionary-value: @blue-light;

